@font-face {
    font-family: open-sans;
    src: url(font/OpenSans-Regular.ttf); 
}
* {
    font-family: open-sans, sans-serif;
    font-size: 18px;
}
body {
    background-color: #151b22;
}
#formDiv {
    color: #c5c6c7;
    margin-left: 15px;
    margin-top: 20px;
}
#alertLevel {
    margin-top: 5px;
    color: #dc3545;
}