@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
body {
    background-color: #151b22;
}
#formDiv {
    color: #c5c6c7;
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
    width: 400px;
}
#alertLevel {
    margin-top: 5px;
    color: #dc3545;
}