@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif;
}
body, html {
    background-color: #0b0c10;
    margin: 0px;
}
#container {
    width: 1460px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
#head {
    width: 100%;
    height: 100px;
    background-color: #1f2833;
    margin-bottom: 20px;
}
#leftSide {
    width: 220px;
    min-height: 650px;
    background-color: #151b22;
    float: left;
    margin-bottom: 20px;
}
#content {
    position: relative;
    min-height: 650px;
    float: left;
    width: 900px;
    background-color: #151b22;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#rightSide {
    width: 300px;
    min-height: 650px;
    float: left;
    margin-bottom: 20px;
    background-color: #151b22;
}
#footer {
    width: 100%;
    height: 50px;
    clear: both;
    background-color: #151b22;
    text-align: center;
    font-size: 16px;
    color: #c5c6c7;
    line-height: 50px;
}
.headButton {
    float: right;
    padding: 20px;
    border: 1px solid #66fcf1;
    color: #c5c6c7;
    font-size: 20px;
    margin-top: 15.25px;
    margin-right: 15px;
    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
}
#logoDiv {
    width: 400px;
    height: 92px;
    float: left;
    margin-top: 4px;
    margin-left: 15px;
}
#leftSide a {
    text-decoration: none;
}
#leftSide a div {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    width: 180px;
    margin-left: 20px;
    margin-top: 15px;
}
#leftSide p {
    font-size: 24px;
    text-align: center;
    color: #66fcf1;
}
#userPoints {
    color: #c5c6c7;
    padding-top: 10px;
    padding-bottom: 13px;
    width: 100%;
    text-align: center;
    background-color: #1f2833;
}
#userPoints span {
    color: #66fcf1;
}
#rightSide table {
    color: #c5c6c7;
    width: 100%;
}
#rightSide th {
    font-size: 17px;
}
#rightSide table {
    border-collapse: collapse;
}
#rightSide table th:nth-child(1), #rightSide table td:nth-child(1), #rightSide table th:nth-child(2), #rightSide table td:nth-child(2) {
    border-right: 1px solid #1f2833;
}
#rightSide table th, #rightSide table td {
    padding: 3px;
}
#rightSide table tr:nth-child(odd) {
    background-color: #131920;
}
#rightSide table tr:nth-child(even) {
    background-color: #1f2833;
}
#rightSide table caption {
    font-size: 17px;
    padding-bottom: 5px;
    background-color: #1f2833;
    padding-top: 5px;
}
.alertBox {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 2;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    background-color: #1f2833;
    color: #c5c6c7;
    border: 1px solid #c5c6c7;
}
.alertBoxText {
    order: 0;
    padding: 25px;
    padding-left: 35px;
    font-size: 18px;
}
.closeSymbol {
    order: 1;
    margin-right: 23px;
    font-size: 28px;
    color: #c5c6c7;
    cursor: pointer;
}
form button:focus {
    outline: 0px !important;
}

/* Globalne css */
.niceButton {
    transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    border: 1px solid #66fcf1;
    color: #c5c6c7;
    text-align: center;
}
.niceButton:hover {
    background-color: #66fcf1 !important;
    color: #0b0c10;
}
.textLink {
    text-decoration: none;
    color: #c5c6c7;
}
.textLink:hover {
    color: #66fcf1;
}
.goodText {
    color: #5cb85c;
}
.goodText::after {
    content: ' \2714';
}
.badText {
    color: #dc3545;
}
.badText::after {
    content: ' \2718';
}



/* Zmiana wyglądu strony zależna od rozmiaru wyświtlacza */
@media only screen and (max-width: 1500px) {
    #container {
        width: 97%;
        min-width: 1000px;
    }
    #rightSide {
        width: 250px;
    }
    #content {
        width: calc(100% - 510px);
    }
}