#regisForm {
    color: #c5c6c7;
}
.regisSide {
    padding-top: 10px;
    width: 245px;
    float: left;
}
.regisSide > div input[type=text], input[type=password]{
    font-size: 17px;
    padding: 3px;
}
.regisSide > div {
    width: 230px;
    height: 85px;
    margin-left: 15px;
    margin-top: 5px;
}
.regisLegend {
    padding-bottom: 3px;
    font-size: 17px;
}
.regisAlert {
    padding-top: 5px;
    font-size: 16px;
    color: #dc3545;
}
#alertRegulations {
    font-size: 16px;
    color: #dc3545;
}
#regisRegulations {
    height: 47px;
}
#regulationsCheckbox {
    transform: scale(1.25);
}
#regulationsLink {
    text-decoration: none;
    color: #66fcf1;
}
#regisForm button {
    margin-left: 15px;
    margin-top: 25px;
    background-color: #151b22;
    padding: 13px 50px 13px 50px;
    font-size: 22px;
}
#regisForm button:hover {
    cursor: pointer;
}
#regisForm p {
    display: block;
    margin-left: 15px;
    font-size: 13px;
    margin-top: 15px;
}
.warningInput {
    border: 2px solid #dc3545;
    border-radius: 4px;
}
.goodInput {
    border: 2px solid #5cb85c;
    border-radius: 4px;
}
#passwordMeter {
    position: absolute;
    width: 170px;
    height: 100px;
    padding: 0px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: -65px;
    margin-left: -193px;
}
#passwordMeter::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 35px;
}
#passwordMeter div {
    height: 25px;
    line-height: 25px;
    padding-left: 10px; 
    font-size: 15px;
}
#alertCaptcha {
    font-size: 16px;
    color: #dc3545;
    height: 22px;
    margin-top: -2px;
}
